In [ ]:
import pandas as pd
from pathlib2 import Path
import datetime

In [ ]:
DEFAULT_PI_PATH = Path('/home/pi/get_temp_C.out')
FALLBACK_PATH = Path('/Users/eandreas/projects/dev/ds18b20/webapp2/data/get_temp_C.out')

In [ ]:
def load_data():
    path = DEFAULT_PI_PATH
    if not path.is_file():
        path = FALLBACK_PATH
    names = ['dev_sn', 'date', 'time', 'temp_raw', 'temp_C']
    df = pd.read_csv(path, sep=' ', header=None, names = names, parse_dates=[['date', 'time']])
    df.date_time = df.date_time.dt.strftime('%Y-%m-%d %H:%M')
    df.date_time = pd.to_datetime(df['date_time'], format='%Y%m%d %H:%M')
    df = df[~df.isna().any(axis=1)]
    df = df[~df.date_time.duplicated(keep='first')]
    idx = pd.date_range(
        start=df.iloc[0].date_time.strftime('%Y-%m-%d %H:%M'),
        end=df.iloc[-1].date_time.strftime('%Y-%m-%d %H:%M'),
        freq='T')
    df.set_index('date_time').reindex(idx).rename_axis('date_time').reset_index()
    return df

In [ ]:
df = load_data()
df.head()

            date_time           dev_sn  temp_raw  temp_C
0 2021-01-30 21:48:00  28-03219779d339    20.312  21.748
1 2021-01-30 21:49:00  28-03219779d339    20.312  21.748
2 2021-01-30 21:50:00  28-03219779d339    20.312  21.748
3 2021-01-30 21:51:00  28-03219779d339    20.312  21.748
4 2021-01-30 21:52:00  28-03219779d339    20.312  21.748

In [ ]:
df.dtypes

date_time    datetime64[ns]
dev_sn               object
temp_raw            float64
temp_C              float64
dtype: object

In [ ]:
df.head()

            date_time           dev_sn  temp_raw  temp_C
0 2021-01-30 21:48:00  28-03219779d339    20.312  21.748
1 2021-01-30 21:49:00  28-03219779d339    20.312  21.748
2 2021-01-30 21:50:00  28-03219779d339    20.312  21.748
3 2021-01-30 21:51:00  28-03219779d339    20.312  21.748
4 2021-01-30 21:52:00  28-03219779d339    20.312  21.748