In [ ]:
import pandas as pd
from pathlib2 import Path

In [ ]:
temp_file = Path('/Users/eandreas/projects/dev/ds18b20/webapp2/data/get_temp_C.out')
df = pd.read_csv(temp_file, sep=' ', header=None, names=['dev_sn', 'date', 'time', 'temp_raw', 'temp_C'], parse_dates=[['date', 'time']])
df.tail()

                      date_time           dev_sn  temp_raw  temp_C
4318 2021-02-02 21:54:03.290389  28-03219779d339    20.125  21.562
4319 2021-02-02 21:55:02.720333  28-03219779d339    20.062  21.499
4320 2021-02-02 21:56:03.120675  28-03219779d339    20.062  21.499
4321 2021-02-02 21:57:02.600886  28-03219779d339    20.062  21.499
4322 2021-02-03 21:57:02.600886  28-03219779d339    20.062  31.499

In [ ]:
class Singleton:
    __instance = None

    @staticmethod 
    def getInstance():
        """ Static access method. """
        if Singleton.__instance is None:
            Singleton()
        return Singleton.__instance
    
    def __init__(self):
        """ Virtually private constructor. """
        if Singleton.__instance is not None:
            raise Exception("This class is a singleton!")
        else:
            Singleton.__instance = self
            temp_file = Path('/Users/eandreas/projects/dev/ds18b20/webapp2/data/get_temp_C.out')
            self.__df_full = pd.read_csv(temp_file, sep=' ', header=None, names=['dev_sn', 'date', 'time', 'temp_raw', 'temp_C'], parse_dates=[['date', 'time']])
    
    def get_df(self):
        return self.__df_full
    
    def set_df(self, df):
        self.__df_full = df

In [ ]:
Singleton.getInstance().set_df(pd.DataFrame())

In [ ]:
Singleton.getInstance().get_df()

Empty DataFrame
Columns: []
Index: []